/*to add same feature to all buttons write .button instead of #id1*/

.button{
    -fx-font-size: 12;
    /* -fx-background-color: rgba(123,123,213,0.8);*/
    -fx-background-color:slateblue;
    -fx-text-fill: wheat;
    -fx-padding: 6 6 6 6;
    -fx-border-color: BLACK;
    -fx-border-radius: 8;
    -fx-font-weight: bold;
}

.root{
    -fx-background-color: #b3d9ff;
}
